mixin navbar(user)
  nav.navbar.navbar-expand.navbar-dark.bg-dark
    a(href="/", aria-label="Findee").navbar-brand.mr-0.mr-md-2
      img(src="/images/", width="36", height="36")
    .collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link MyShopApp
        li.nav-item
          a.nav-link(href="/") Главная     
        if user 
            li.nav-item
              .dropdown
                a#dropdownMenuLink.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                  | Услуги 
                .dropdown-menu(aria-labelledby='dropdownMenuLink')
                  if user
                    a.dropdown-item(href="/req") Заказы
                    a.dropdown-item(href="/order") Новый заказ
                  if user && user.username== "root"
                    a.dropdown-item(href="/get_add_product") Добавить Ассортимент
                    a.dropdown-item(href="/get_add_store") Добавить Склад
                    a.dropdown-item(href="/get_add_prod_address") Добавить товар на Склад
                    a.dropdown-item(id="post_category") Добавить Категории
                    a.dropdown-item(href="/get_sup") Добавить Поставщика
                    a.dropdown-item(href='/db') Просмотреть данные
    .navbar-right
      if user
         ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link #{user.username}
            li.nav-item
              a.nav-link(href="/logout").btn.btn-outline-secondary Выйти
      if !user
         ul.navbar-nav.mr-auto.navbar-dark
            li.nav-item
                a.nav-link(href="/login").btn.btn-outline-secondary  Вход
                a.nav-link(href="/signup").btn.btn-outline-secondary  Регистрация
    #myModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
            .modal-dialog.modal-dialog-centered
                .modal-content
                    .modal-header
                        h5#exampleModalLabel.modal-title
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                    .modal-body
                      .formgroup
                        lable.small.mb-1.mt-3 Введите категорию:
                        input(placeholder='Категория', required=true, id='category' name='category', type='text').form-control
                    .modal-footer
                        button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                        button.btn.btn-primary(id="save" type='button') Save changes